.slide-container{
    position: relative;
    width:auto;
    height:500px;
    border: 3px solid #D4AF37;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
    width:100%;
    height: calc(100% - 40px);
    position:relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100%;
    height:100%;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top:0;
    left:-100%;
}
span.next, span.prev{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 14px;
    color:#f0cc00;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select:none;
    cursor:pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #D4AF37;
    opacity: 0.8;
    color:#222;
}
.dotsContainer{
    position: absolute;
    bottom:5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border:3px solid #f0cc00;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #D4AF37;
}
@keyframes next1{
    from{
        left:0%;
    }
    to{
        left:-100%;
    }
}
@keyframes next2{
    from{
        left:100%;
    }
    to{
        left:0%;
    }
}
@keyframes prev1{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
}
@keyframes prev2{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}