#main{
  position: relative;
}

#srodek{
  padding:5px !important;
  background: linear-gradient(90deg,#07130F 0%, #3b0d11 95%) !important;
  columns:3;
  column-gap: 5px;
}

div.gallery {
    margin:5px 0px;
  border: 1px solid #ccc;
  width: 100%;
  break-inside: avoid;
}

div.gallery:hover {
  border: 1px solid #777;
  background-color: #D4AF37;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px 0px;
  text-align: center;
  color: white;
}
#refresh{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 50%);
  position: absolute;
  bottom: 0;
  left: calc(50% - 125px);
  right:calc(50% - 125px);
  padding:50px;
  padding-bottom: 50px;
  opacity: 0;
  transition: opacity 0.5s;
  
}

#refresh.show {
  opacity: 1;
}
#refresh>img{
    animation: rotation 1s infinite linear;
}

@media screen and (min-width: 900px) and (max-width: 1500px){
     #srodek{
          columns:2;
    }
}

@media screen and (max-width: 900px) {
    #srodek{
          columns:1;
    }
}
