@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    height: 100%;
    background: #020605;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000, #020605, #07130f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000, #020605, #07130f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body *{
    font-family: Ubuntu;
    
}
#blok{
    width: 95%;
    margin:auto;box-shadow: 0px 0px 89px 61px rgba(0,0,0,1) ;
    -webkit-box-shadow: 0px 0px 89px 61px rgba(0,0,0,1) ;
    -moz-box-shadow: 0px 0px 89px 61px rgba(0,0,0,1) ;
}

#pasek{
    background: #020605;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #020605, #07130f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #020605, #07130f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#logo{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    height: 100px;
}
#menu>ol{
    height: 100px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    text-align: center;
}

#menu>ol>li{
    background-color: rgba(0,0,0,0.4);
    border: 3px double #f0cc00;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    margin:2.5px;
}
#menu>ol>li:first-child{
    margin-left: 0px;
}
#menu>ol>li:last-child{
    margin-right: 0px;
}
#menu>ol>li:hover{
    background:linear-gradient(to bottom, #BF953F, #B38728, #AA771C);
    text-shadow: 0px 0px 18px #000000,0px 0px 18px #000000;
}

#menu>ol>li>a{
    font-family: Indie Flower,cursive;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color:#f0cc00;
    font-size: 200%;
    /* padding-top: 15px;
     padding-bottom:  15px;*/
    padding-top: 5px;
}

#menu>ol>li>a>img{
    height: 50px;
    transform: scale(1.5);
    position: relative;
    top: -15px;
}

#main{
    height: auto;
    display: flex;
}

#srodek{
    width: 100%;
    background: #07130F;
    background: linear-gradient(90deg,#07130F 0%, #3b0d11 95%);
    color: white;
    font-size: 150%;
    padding: 0px 50px 50px 50px;
    text-align: justify;
}
#srodek p{
    margin-left: 20px;
    margin-right: 20px;
}

#srodek h1{
    padding: 5px 0 5px 0;
    border-bottom: 2px solid gold;
    border-top: 2px solid gold;
}
#srodek h1:first-child{
    border-top:none;
    padding: 0 0 5px 0;
}

#prawa{
    color: #f0cc00;
    background:#001f3f;
    background: linear-gradient(90deg,#3b0d11 0%, #001f3f 5%, rgba(11,31,24,1) 100%, rgba(0,0,0,0) 98%);
    padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;
}

blockquote {
    font-family: Indie Flower,cursive;
    align-self: center;
    text-align: justify;
    font-style: italic;
    font-size: 150%;
    max-width: 100%;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 60px;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 400%;
    width: 64px;
    height: 64px;
    content: 'â€';
    
}
blockquote:before{
    left: 0px;
    top: 0px;
}
blockquote:after{
    right: 0px;
    bottom: 0px;
}

cite {
    padding-left: 42%;
    line-height: 3;
}

footer{
    height:  50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom, #BF953F, #B38728, #AA771C);
}
ul{
    list-style-type:none;
}
a{
    font-family: 'Redressed', cursive;
    
}
#animacja{
    position: relative;
    left: -164px;
}

#ring{
    height: 110px;
    margin: 95px;
    z-index: 2;
    position: relative;
    left: 305px;
}
#runy{
    filter: invert(1);
    height: 250px;
    animation: rotation 5s infinite linear;
    position: relative;
    top:-35px;
}
#napis{
    position: relative;
    object-fit: cover
        
}



p a:link {
    text-decoration: none;
    color: white;
}

p a:visited {
    text-decoration: none;
    color: white;
}

p a:hover {
    text-decoration: none;
    color: #f0cc00;;
}

p a:active {
    text-decoration: none;
    color: white;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 1550px) {
    #blok{
        width: 100%;
    }
}

@media screen and (max-width: 1500px) {
    
    #menu>ol{
        flex-wrap: wrap;
    }
    #menu>ol>li{
        flex-basis: 48%;
        margin:0px;
    }
    
    #srodek{
        padding: 0px 20px 50px 20px;
        font-size: 110%;
    }
    #srodek h1{
        font-size: 150%;
    }   
    blockquote{
        width: auto;
        font-size: 120%;
        padding: 40px;
        margin-top: 20px;
    }
    blockquote:after{
        bottom: -10px;
        right: -20px;
    }
    
    #logo,#napis{
        height: 200px;
    }
    #napis{
        margin-bottom: 10px;
    }
    #ring{
        height:74px;
        margin-top: 90px;
        margin-bottom: 75px;
        left:236px;
    }
    #runy{
        height:163px; 
    }
    
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    #menu{
        height: 222px;
    }
    #menu>ol>li:nth-child(3), #menu>ol>li:last-child{
        margin-top:5px;
    }
    #menu>ol>li:first-child{
        margin-right: 5px;
    }
    #menu>ol>li:last-child{
        margin-left: 5px;
    }
}
@media screen and (max-width: 1300px) {
    #menu{
        height: 439px;
    }
    
    #menu>ol>li{
        flex-basis: 100%;
        margin: 0px;
        margin-bottom: 3px;
    }
    #main{
        flex-direction: column;
        background: linear-gradient(0deg,#3b0d11 35%, #001f3f 45%, rgba(11,31,24,1) 100%);
        justify-items:center;
        width: 100%;
    }
    #srodek{
        width: auto;
        background: rgba(0,0,0,0);
    }
    cite{
        padding-left: 0px;
        text-align: center;
    }
    #prawa{
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(0,0,0,0);
        padding-bottom: 50px;
    }
    
}

@media screen and (max-width: 1100px) {
    #animacja{
        position: relative;
        left: -140px;
    }
    #logo,#napis{
        height: 100px;
    }
    #napis{
        margin-bottom: 25px;
    }
    #ring{
        height:37px;
        margin-top: 80px;
        margin-bottom: 52px;
        left:168px;
    }
    #runy{
        height:81px; 
    }
}

@media screen and (max-width: 900px) {
    blockquote{
        max-height: 600px;
        font-size: 110%;
    }
}
@media screen and (max-width: 700px) {
    blockquote{
        max-height: 500px;
        font-size: 100%;
    }
}
@-moz-document url-prefix() {
    @media screen and (min-width: 1300px) and (max-width: 1500px) {
        #menu {
            height: 240px;
        }
    }
    @media screen and (max-width: 1300px) {
        #menu{
            height: 470px;
        }
    }
    
}